body {
  background-color: #baa1a1;
}

.content {
  width: 75%;
  float right;
  background-color: #c0ead8;
  border: 3px solid #3b8e6b;
  padding: 10px;
}

.content hr {
  border-color: #747474;
}

.intro  img {
  float: right;
  width: 25%;
  height: auto;
}

.aboutMe h2 {
  text-align: center;
}

.sidebar {
  width: 25%;
  float: right;
  padding: 20px;
}

.indented {
  padding: 20px;
  font-style: italic;
}

.bookName {
  font-size: 20px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
